html, body{
	box-sizing: border-box;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.calculator-body{
	border: 1px solid #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 336px;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.result{
	background-color: #D8D8D8FF;
	width: 100%;
	height: auto;
	text-align: right;
	word-break: break-all;
}

.result p{
	margin: 0px;
	line-height: 50px;
	font-size: 36px;
	outline: none;
	padding: 0 4px 0;
}

.button{
  display: flex;
  -webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.button button{
	width: 25%;
	height: 78px;
	font-weight: bold;
	outline: none;
	font-size: 30px;
}

.button div button{
	width: 33.33215%;
}

.kbd-navigation button:focus{
	border: 8px solid aqua;
}

@media only screen and (max-width: 415px) {
	.calculator-body{
		border: 0;
		top: 390px;
	}
}