html, body{
	box-sizing: border-box;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/**{
	margin: 0;
	padding: 0;
}*/

.calculator-body{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 336px;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.result{
	background-image: linear-gradient(rgba(0,255,255,.35), rgb(25, 255, 167, .35));
	margin-bottom: 10px;
	border-radius: 20px;
	width: 100%;
	max-height: 150px;
	text-align: right;
	word-break: break-all;
	overflow: hidden;
}

.result p{
	line-height: 50px;
	font-size: 36px;
	outline: none;
	padding: 0 4px 0;
	margin: 0;
}

.button{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.button button{
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	outline: none;
	font-size: 30px;
	border-style: none;
	background-color: black;
	background-image: linear-gradient(aqua, #1affa7);
	-webkit-box-shadow: 0 12px 5px rgba(0,0,0, .3);
	box-shadow: 0 8px 5px rgba(0,0,0, .3);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-moz-user-drag: none;
	-ms-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.button button:hover{
	background-image: linear-gradient(rgba(0,255,255,.95), rgb(25, 255, 167, .95));
}

.button button:active{
	transform: translateY(3px);
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0, .3);
	box-shadow: 0 5px 5px rgba(0,0,0, .3);
}

.width2{
	grid-column: span 2;
}

.height2{
	grid-row: span 2;
}

.kbd-navigation button:focus{
	-webkit-box-shadow: 0 12px 5px rgba(0,0,0, .9);
	box-shadow: 0 8px 5px rgba(0,0,0, .9);
}

@media only screen and (max-width: 415px) {
	.calculator-body{
		top: 390px;
	}
}